body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 300px;
    background-color: #1e1e1e;
    color: #ffffff;
}

#note-container {
    padding: 10px;
}

#note {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 14px;
    background-color: #2e2e2e;
    color: #ffffff;
    border: 1px solid #444;
    border-radius: 5px;
    outline: none;
    resize: none;
    overflow: hidden;
    min-height: 150px;
}

#char-counter {
    text-align: right;
    font-size: 12px;
    color: #bbbbbb;
    margin-top: 5px;
}